<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation" style="color: red">
      <h2>コメントの投稿に失敗しました。</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id, :value => @user.id %>
  <%= form.hidden_field :post_id, :value => @post_id %>

  <div>
    <%= form.label :content, "内容", style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
