<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red" id="error_explanation">
      <h2>ツイートの投稿に失敗しました。</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, :value => @user.id %>

  <div>
    <%= form.label :content, "内容", style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
